.home-row {
    padding: 15px 0px 0px;
}

.like-button {
    float: right;
}

.scrolling-wrapper{
	overflow-x: auto;
}

.card-block{
    background-color: #fff;
    border: 1px solid #cfcfcf;
    transition: all 0.2s ease-in-out !important;
}

.info-card {
    margin-bottom: 5px;
}


